# enable/disable envycontrol (nvidia hybrid graphics) depending on
# nvidia kernel module loaded or not

[Unit]
Description=Enable/disable envycontrol (nvidia hybrid graphics)

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo -n /usr/lib/systemd/scripts/envycontrol.sh

[Install]
WantedBy=default.target
