# see Description below for functionality

[Unit]
Description=set up user env, nvidia hybrid graphics.

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo -n /usr/lib/systemd/scripts/envycontrol.sh

[Install]
WantedBy=default.target
