[Unit]
Description=see corresponding service

[Timer]
OnActiveSec=1sec
RandomizedDelaySec=10sec
OnUnitActiveSec=24hour

[Install]
WantedBy=timers.target
