[Desktop Entry]
Version=1.0
Type=Application
Name=Add User
Comment=Add new user with or without sudo.
Exec=bash -c "sudo ./useradd.sh; ../../bin/wait.sh"
Icon=contact-new
Path=/usr/sbin/useradd.d
Terminal=true
StartupNotify=false
GenericName=copy user
