[Desktop Entry]
Version=1.0
Type=Application
Name=Add User
Comment=Add new user with or without sudo.
Exec=sudo useradd.sh -w
Icon=contact-new
Path=/usr/sbin/
Terminal=true
StartupNotify=false
GenericName=copy user
