[Desktop Entry]
Version=1.0
Type=Application
Name=Anti Virus
Comment=Αντιιικό
Exec=bash -c "sudo ./av.sh; ../bin/wait.sh"
Icon=clamtk
Path=/usr/sbin/
Terminal=true
StartupNotify=false
