[Desktop Entry]
Version=1.0
Type=Application
Name=Clone
Comment=Clone the entire system to another device.
Exec=sudo cloneup.sh -w
Icon=harddrive
Path=/usr/sbin/
Terminal=true
StartupNotify=false
GenericName=copy user
