[Desktop Entry]
Version=1.0
Type=Application
Name=Clone
Comment=Clone the entire system to another device.
Exec=bash -c "sudo ./clone.sh; ../../bin/wait.sh"
Icon=harddrive
Path=/usr/sbin/clone
Terminal=true
StartupNotify=false
GenericName=copy user
