[Desktop Entry]
Version=1.0
Type=Application
Name=Del User
Comment=Delete a user and all its data.
Exec=sudo userdel.sh -w
Icon=list-remove-user
Path=/usr/sbin/
Terminal=true
StartupNotify=false
GenericName=delete user
