[Desktop Entry]
Version=1.0
Type=Application
Name=Del User
Comment=Delete a user and all its data.
Exec=bash -c "sudo ./userdel.sh; ../bin/wait.sh"
Icon=list-remove-user
Path=/usr/sbin/
Terminal=true
StartupNotify=false
GenericName=delete user
