[Desktop Entry]
Version=1.0
Type=Application
Name=Toggle VPN
Comment=stop/start Proton VPN user service
Exec=bash -c "~/./toggle_vpn.sh; /usr/local/bin/wait.sh"
Icon=network-vpn
Path=
Terminal=true
StartupNotify=false
