# https://www.freedesktop.org/wiki/Software/systemd/logind/#Security

polkit.addRule(function(action, subject) {
    if ((action.id == "org.freedesktop.login1.hibernate" || 
         action.id == "org.freedesktop.login1.suspend") && 
        subject.isInGroup("wheel"))
    {
        return polkit.Result.YES;
    }
});
